@using SyndicateBank.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header class="header">
        <div class="col-md-8">
            <h1>Admin Login</h1>
        </div>
        <div class="col-md-4"> <img src="~/Content/images/synd-logo.jpg" class="img-responsive" style="width:100%; margin:3px 0"></div>
    </header>
    <div class="clearfix"></div>
    <div class="content">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()


            <!--<aside class="col-sm-4 col-md-3 sidebar">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="index.html">Registration form</a></li>
                                <li><a href="registration2.html">Registration simple form</a></li>
                                <li><a href="login.html">Login form</a></li>
                                <li><a href="forgot.html">Forgot password form</a></li>
                                <li><a href="subscribe.html">Subscribe form</a></li>
                                <li><a href="contact.html">Contact form</a></li>
                                <li><a href="review.html">Review form</a></li>
                                <li><a href="checkout.html">Checkout form</a></li>
                                <li><a href="cart_1.html">Shopping cart <span class="new">new</span></a></li>
                                <li><a href="multi.html">Form UI - multi column</a></li>
                                <li><a href="horizontal.html">Form UI - horizontal</a></li>
                            </ul>
                        </aside> -->

            <article class="col-sm-12 col-md-12">
                <div class="col-md-9" style="float:none; margin-left:auto; margin-right:auto;">

                    <!-- START Registration form -->

                    <div class="panel panel-form">
                        <!-- Form header -->
                        <div class="panel-heading">
                            <h2 class="title">Login</h2> <!---->
                        </div>
                        <div class="panel-body">
                            @Html.Raw(ViewBag.Result)


                            <form role="form" id="synd-eSBTRform">
                                <fieldset>
                                    <div class="col-md-12">
                                        <!--<legend class="spLegend">e-SBTR Payment Details</legend> -->
                                        <div class="col-md-6" style="float:none; margin:auto;">
                                            <div class="form-group">
                                                <label for="Username" class="control-label">Please Enter Username</label>
                                                @*<input type="text" class="form-control" id="Username" />*@
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                     @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Company/User Name", autocomplete = "off" })
                                                </div>
                                                     

                                            </div>
                                            <div class="form-group">
                                                <label for="Password" class="control-label">Please Enter Password</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    @*<input type="password" class="form-control" id="Password" />*@
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                                </div>
                                                </div>
                                            <input type="hidden" name="ReturnUrl" value="@ViewContext.HttpContext.Request.Url.PathAndQuery" />


                                           
                                            <div style="text-align:center;">
                                                <button type="submit" class="btn btn-primary btn-block" style="width:97%;" ><i class="fa fa-sign-in"></i> Log in</button>
                                                <a class="btn btn-link" href="#">Forgotten your password?</a>
                                            </div>

                                        </div>

                                        </div>

                                </fieldset>
                                <!-- Logun button -->
                                @*<div class="center-block">
                                    <div class="form-group">

                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                        <a class="btn btn-link" href="admin-forgotpsd.html">Forgotten your password?</a>
                                    </div>
                                </div>*@

</form>
                        </div>

                        <!-- Form footer -->
                        <!--<div class="panel-footer"> <span class="required-field">*</span> - required field </div> -->
                    </div>

                    <!-- END Registration form -->

                </div>
            </article>
            <div class="clearfix"></div>
        }
    </div>
</div>
@*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>            }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}