@model DistrictViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #dialog-confirm {
        height: 39px !important;
    }

    .page-search {
        padding: 19px 0;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="container">
            <div class="col-md-4">

                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>District</h1>
                    @Html.Raw(ViewBag.Result)
                    @Html.Raw(ViewBag.EditResult)
                    </div>
                </div>
                
                <!-- END PAGE TITLE -->
            </div>
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE CONTENT BODY -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMBS -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="index-2.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>District</span>
                </li>
                <!-- <li class="pull-right">
                 <a type="button" class="btn btn-success" data-toggle="modal" href="#basic">Create New</a>
                 </li> -->
            </ul>
            <div class="clearfix"></div>
            <!-- END PAGE BREADCRUMBS -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>District Details
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-hover table-bordered" id="districtEditable">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Country Name </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AvailableCountry)
                                        {
                                            <tr>
                                                <td colspan="3">@item.CountryName <span class="viewDistricts"><i class="fa fa-angle-right"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table table-striped table-hover table-bordered DistrictsFDsate" id="DistrictsFDsate">
                                                        <thead>
                                                            <tr>
                                                                <th width="30%"> State Name </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var itm in Model.Availablestate.Where(r => r.CountryId == item.Id))
                                                            {
                                                                <tr>
                                                                    <td colspan="3">
                                                                        @itm.StateName
                                                                        <a type="button" onclick="GetData('@Url.Action("Create", "District", new { Id = itm.Id })');" class="btn-sm btn-success pull-right" data-toggle="modal" href="#basic">Create New District</a>
                                                                        
                                                                        <span class="viewCity">
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <table class="table table-striped table-hover table-bordered CityFDdistrict" id="CityFDdistrict">
                                                                            <thead>
                                                                                
                                                                                <tr>
                                                                                    @*<div class="col-md-8">

                                                                                        <div class="col-md-7 pull-left page-search">

                                                                                            <form class="search-form" method="GET">
                                                                                                @using (Html.BeginForm("Create", "District", FormMethod.Get))
                                                                                                {
                                                                                                    <div class="input-group">
                                                                                                        <input type="text" class="form-control" placeholder="Search" id="" value="@ViewBag.qur" name="query" style="border:solid 1px #f26222">
                                                                                                        <span class="input-group-btn">
                                                                                                            <input class="btn submit icon-magnifier" type="submit" style="background:#f26222; color:white;">

                                                                                                        </span>
                                                                                                    </div>
                                                                                                }
                                                                                            </form>

                                                                                        </div>

                                                                                    </div>*@
                                                                                    
                                                                                     
                                                                                    <th width="35%"> District Code </th>
                                                                                    <th width="35%"> District Name </th>
                                                                                    <th width="15%" align="center" valign="middle"> Edit District </th>
                                                                                    <th width="15%" align="center" valign="middle"> Delete District </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var itms in Model.AvailableDistrict.Where(r => r.StateId == itm.Id))
                                                                                {
                                                                                    <tr>
                                                                                        <td> @itms.DistrictCode </td>
                                                                                        <td> @itms.DistrictName </td>
                                                                                        <td align="center" valign="middle"><a onclick="GetEditData('@Url.Action("Edit", "District", new { Id = itms.Id })');" class="btn btn-sm btn-raised btn-info editDialog" data-toggle="modal" href="#basic-edit"> Edit </a></td>
                                                                                        <td align="center" valign="middle"><a href="#" onclick="GetDeleteData('@Url.Action("Delete", "District", new { Id = itms.Id })');"> Delete </a></td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>

<script>
    function GetData(link) {
        $.ajax({
            url: link,
            @*url: "@(Url.Action("Edit", "Country",new{id=6}))",*@
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#txtstate').val(result.StateName);
                $('#stateId').val(result.StateId);
                $('#basic').modal('show');
            }
        });

        return false;
    }

</script>



@using (Html.BeginForm("Create", "District", FormMethod.Post))
{
    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">District Create</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", @id = "txtstate", @disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.DistrictCode, new { @class = "form-control", placeholder = "Enter District Code", maxlength = "10" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.DistrictName, new { @class = "form-control", placeholder = "Enter DistrictName", maxlength = "150" })
                    </div>
                    <div class="modal-body">
                        @Html.LabelFor(m => m.Status)@Html.CheckBoxFor(m => m.Status)
                    </div>
                    @Html.HiddenFor(r => r.StateId, new { id = "stateId" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn green">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("Edit", "District", FormMethod.Post))
{
    <div class="modal fade" id="basic-edit" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">District Edit</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(r => r.Id, new { Id = "Id" })
                    @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", @id = "txtStateName", @disabled = "disabled" })
                    @Html.TextBoxFor(m => m.DistrictCode, new { @class = "form-control", placeholder = "Enter District Code", maxlength = "10", @id = "txtDistrictCode" })
                    @Html.TextBoxFor(m => m.DistrictName, new { @class = "form-control", placeholder = "Enter District Name", maxlength = "150", @id = "txtDistrictName" })
                    @Html.LabelFor(m => m.Status)@Html.CheckBoxFor(m => m.Status, new { @id = "chkbx", @class = "chkBxStatus" })

                    @Html.HiddenFor(r => r.StateId, new { @id = "stId" })


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn green" id="savechanges">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        var checkVal = false;
        $(document).ready(function () {
            $('#chkbx').on('change', function () {
                if ($('#chkbx').is(':checked')) {
                    checkVal = true;
                }
                else {
                    checkVal = false;
                }
            });
        });


        $(document).ready(function () {
            $('#savechanges').click(function () {

                var StateId = $('#stId').val();
                var Id = $('#Id').val();
                var DistrictCode = $('#txtDistrictCode').val();
                var DistrictName = $('#txtDistrictName').val();
                var Status = checkVal;

                var allVal = { id: Id, stateId: StateId, DistrictCode: DistrictCode, DistrictName: DistrictName, Status: Status }

                $.ajax({
                    //This is where you want to post to.
                    url: '@Url.Action("Edit","District")',//+Id:Id,status:status,distCode:distCode,distName:dis,
                    async: true,
                    type: "POST",
                    contentType: 'application/json',
                    dataType: "json",
                    data: JSON.stringify(allVal),
                    success: function (result) {
                        if (result.success == true)
                            redirect('List');
                    },
                });
            });
        });



        function redirect(url) {
            window.location.href = url;
        }

    </script>

    <script>
        function GetEditData(link) {
            $.ajax({
                url: link,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#chkbx').val(result.Status);
                    $('#basic-edit').modal('show');
                    $('#Id').val(result.Id);
                    $('#stId').val(result.StateId);
                    $('#txtStateName').val(result.StateName);
                    $('#txtDistrictCode').val(result.DistrictCode);
                    $('#txtDistrictName').val(result.DistrictName);

                    if ($('.chkBxStatus').val() == 'true') {
                        $(".chkBxStatus").parent().addClass('checked');
                    } else {
                        $(".chkBxStatus").parent().removeClass('checked');
                    }

                    if (result.Status) {
                        checkVal = true;
                    }
                }
            });

            return false;
        }
    </script>

}



<script>
    function GetDeleteData(link) {
        $.ajax({
            type: 'POST',
            url: link,
            cache: false,
            success: function (result) {
                var url = '@Url.Action("List", "District")';
                window.location.href = url;
            }
        });

        return false;
    }

</script>

<script>
    $(function () {
        $('.savebtn').click(function () {
            $('.toast-successMSG').fadeIn(100, function () {
                $(this).delay(2000).fadeOut(1000);
            });
        });
    })
</script>